body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--backColorBody);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    transition: all 1s ease-in-out;
    user-select: none;
}

:root{
    --backColorBody: #d9dce9;
    --greyColor: #838282;
    --whiteColor: #fff;
    --lightGreyColor: #f6f5f5;
    --boxShadowColor: rgba(0, 0, 0, 0.2);
    --progressBarColor: rgb(0, 0, 0);
    --blackColor: #000;

}

/* darkmode 
    --backColorBody: #212429;
    --greyColor: #c7a48e;
    --whiteColor: #1e2126;
    --lightGreyColor: #f6f5f5;
    --boxShadowColor: rgba(0, 0, 0, 0.2);
    --progressBarColor: rgb(48, 48, 49);
*/

#switch{
    width: 60px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid var(--greyColor);
    background-color: var(--greyColor);
    position: absolute;
    top: 5%;
    right: 5%;
    box-shadow: var(--boxShadowColor) 0px 5px 15px;
    cursor: pointer;
}

.switched-on{
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    background-color: var(--whiteColor);
    top: 15%;
    left: 3px;
    transform: translateX(0);
    cursor: pointer;
    transition: all 1s ease ;
}


.toggle1{
    transform: translateX(30px);
}



.darkmode{
    --backColorBody: #212429;
    --greyColor: #fff;
    --whiteColor: #1e2126;
    --lightGreyColor: #f6f5f5;
    --boxShadowColor: rgba(251, 249, 249, 0.2);
    --progressBarColor: rgb(255, 255, 255);
    --blackColor: #fff;
}



.container{
    position: relative;
    width: 300px;
    padding: 20px 15px;
    background-color: var(--whiteColor);
    border-radius: 8px;
    box-shadow: var(--boxShadowColor) 0px 5px 15px;
    transition: all 1s ease-in-out;
}

.little{
    height: 300px;
}

h5{
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: var(--blackColor);
}

h1{
    margin: 0;
    padding: 0;
    color: var(--blackColor);

}

.song-name-music{
    font-size: 20px;
    margin-top: 5px;
}

.song-name-music-sub{
    font-size: 20px;
    margin-top: 5px;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--greyColor);
    padding-bottom: 10px;
}

.song-info-top{
    text-align: center;
}

.top-bar span{
    background-color: var(--lightGreyColor);
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.expand-more1{
    position: relative;
}

.expand-actions{
    background-color: var(--whiteColor);
    padding: 15px 25px;
    box-shadow: var(--boxShadowColor) 0px 5px 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    transition: all 1s ease;
    top: 25px;
    left: 25px;
    display: none;
}

.expand-actions .add{
    padding: 7px 15px;
    margin: 0;
    background-color: var(--lightGreyColor);
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.expand-more1:hover .expand-actions{
    display: block;
}


.adding-music-window{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 10;
    background-color: var(--whiteColor);
    padding: 25px;
    width: 320px;
    border-radius: 10px;
    box-shadow: var(--boxShadowColor) 0px 5px 15px;
    transition: all 1s ease;
    display: none;
}

.adding-music-window .header-adding-music{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--greyColor);
    margin-bottom: 15px;
    padding-bottom: 10px;

}

.adding-music-window .header-adding-music h1{
    font-size: 24px;
}
.adding-music-window .header-adding-music span{
    font-size: 24px;
    font-weight: 400;
    color: var(--blackColor);
    cursor: pointer;
    
}

.adding-music-window span{
    font-size: 20px;
    font-weight: 400;
    color: var(--blackColor);
}

.adding-music-window input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--greyColor);
    font-size: 16px;
    margin-bottom: 10px;
}

.adding-music-window input:last-child{
    margin-bottom: 0;

}


.adding-music-window .submit-new-music{
    margin-top: 15px;
    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 8px;
    border: 1px solid var(--blackColor);
    font-size: 16px;
    cursor: pointer;
    background-color: var(--lightGreyColor);
    transition: 0.2s all ease;
}

.adding-music-window .submit-new-music:hover{
    background-color: var(--greyColor);
    color: var(--whiteColor);
}



/* Photo */

.photo{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    /* animation: animate 10s linear infinite; */
}

.photo-running{
    animation-play-state: paused;

}


.photo img{
    width: 100%;
    object-fit: cover;
    
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.malimi-tillo{
    position: absolute;
    top: 100px;
    left: 500px;
    width: 30px;
    height: 50px;
}


/* Sub info  */


.sub-info{
    text-align: center;
}

.sub-info h1{
    margin-top: 10px;
    font-size: 24px;
}


/* Progress-bar  */

.progress-bar{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.progress-bar input{
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: var(--progressBarColor);
    border-radius: 50px;
    height: 6px;
}

.progress-bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    
    height: 2rem;
    width: 1rem;    
 }


.progress-bar span{
    position: absolute;
    top: 16px;
    color: var(--blackColor);
    
}

.progress-bar .total-minute{
    position: absolute;
    right: 0;
    color: var(--blackColor);
}



/* Controllers  */

.controllers{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -5px;
}

.controllers span{
    cursor: pointer;
    color: var(--greyColor);
}

.play-circle{
    font-size: 48px;
}

/* List of Musics */


.music-lists{
    position: absolute;
    background-color: var(--whiteColor);
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0px 15px;
    box-sizing: border-box;
    box-shadow: 0px -1px 1px var(--boxShadowColor);
    border-top-right-radius: 8px;
    border-radius: 8px;
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
    display: none;
    transition: all 1s ease-in-out;
}

.music-lists::-webkit-scrollbar{
    width: 0;
}

.music-lists .top-part{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--whiteColor);
    height: 40px;
    border-bottom: 1px solid var(--greyColor);
    margin: 0 -1px;
    padding: 10px 0 0 0;
    
    transition: all 1s ease-in-out;
    
}



.music-lists .top-part, .icon-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-text .text{
    margin-left: 10px;
}

ul{
    margin: 0;
    padding: 15px 0;
}

li{
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--greyColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

li:last-child{
    border-bottom: none;
    margin: 0;
}

li div{
    display: flex;
    flex-direction: column;
    gap: 6px;
}


/* Volume  */

.example{
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;

}


.volume-div input{
    width: 100%;
    cursor: pointer;
    appearance: none;
    background: rgb(199, 150, 3);
    top: -500px;
    left: -200px;
    border-radius: 50px;
    height: 6px;
}

.volume-div input::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    background-color: red;
    height: 2rem;
    width: 1rem;
}

/* examples  */


.example1{
    height: 150px;
}

.photo-example{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -50px;
    left: -50px;
    animation: animate 5s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 50px;
}

.photo-example::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--backColorBody);
    border-radius: 50px;
}

@keyframes animate {
    100%{
        transform: rotate(360deg);
    }
}

.example-sub-info{
    display: none;
}
